extends base

block content
  section.sendero-wrapper
    .hero
      img.hero__image(src=require('../img/senderos/ruta-de-masca.png').default alt='Nombre Sendero Image')
    
    .sendero-container.container
      .sendero-hero
        h1.sendero-hero__title Ruta de Masca
        .sendero-hero__data
          .sendero-hero__data--rating
            - let average = 3.8
            - let rating = (average / 5) * 100
            - let amountOfReviews = 16
            .reviews-avg-n= `${average} (${amountOfReviews})`
            .reviews-avg
              .empty-stars
              .full-stars(style=`width: ${rating}%`)
          
          .sendero-hero__data--book
            .sendero-hero__data--book-price 35€
            a.book-button(href="")  Reserva
      
      .sendero-content
        h2.sendero-content__about Acerca de la ruta
        .sendero-content__desc
          .sendero-content__desc--description
            p Caminata que baja por el barranco de Masca para acabar en la playa. Una ruta de duración de 4 horas de preciosos paisajes volcánicos.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed congue felis. Aliquam ut auctor lectus. Donec blandit auctor facilisis. Morbi semper nibh vitae eros condimentum semper. 
            p Etiam scelerisque mi eu aliquam iaculis. Praesent in velit convallis, tristique augue ac, rutrum velit. Morbi hendrerit magna orci, at gravida lectus molestie vitae. Quisque maximus condimentum condimentum. Nam mattis lorem ut convallis bibendum. Integer non pharetra felis, tincidunt ullamcorper odio. 
          .sendero-content__desc--details
            .sendero-content__desc--details-difficulty Dificultad : 
              span.dificil Difícil
            .sendero-content__desc--details-location Buenavista del Norte
            .sendero-content__desc--details-date 10 de Junio de 2021, 9:00 GMT
            .sendero-content__desc--details-duration 4 horas
      
      .sendero-reviews
        each val in [1, 2, 3, 4]
          .sendero-reviews__single-review
            .sendero-reviews__single-review--user
              img.user-img(src=require('../img/usuarios/usuario.png').default alt='Foto de perfil de Usuario')
              .user-name Alberto
            p.sendero-reviews__single-review--rev Hemos disfrutado mucho, magníficas vistas del barranco y un gran premio en forma de playa la final de la caminata. Muy recomendado!!
            .sendero-reviews__single-review--rating
              .reviews-avg
                .empty-stars
                .full-stars(style=`width: ${rating}%`)